.Header{
    display: flex;
    position: sticky;
    top: 0;
    border-bottom: 3px solid black;
    background-color: white;
    z-index: 100;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    .appname{
        font-size: 50px;
        text-decoration: none;
        color: black;
    }
    .loginjoindiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .login{
            color: black;
            margin-right: 1rem;
            background-color: transparent;
            border-color: transparent;
            font-size: 15px;
        }
        .join{
            color: black;
            margin-right: 1rem;
            background-color: transparent;
            border-color: transparent;
            font-size: 15px;
        }
    }
    .logoutmypagediv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logout{
            color: black;
            margin-right: 1rem;
            background-color: transparent;
            border-color: transparent;
            font-size: 15px;
        }
        .mypage{
            text-decoration: none;
            color: black;
            margin-right: 1rem;
            font-size: 15px;
            .bookImg{
                width: calc(33.33% - 20px);
            }
        }
    }
}

