.mainContainer{
    .imgChatDiv{
        display: flex;
        margin: 5% 10% 5% 10%;
        .profileImg{
            margin-right: 20px;
            width: 200px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
        }
        .chatDiv{
            width: 100%;
            height: 300px;
            border: 3px solid black;
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: gainsboro;
            overflow-y: scroll;
        }
    }
    .inputDiv{
        margin: 0 10% 0 10%;
        border: 2px solid black;
        display: flex;
        position: relative;
        .chatInput{
            width: 86%;
            font-size: 2rem;
            padding: 0;
            border: none;
        }
        .STTBtn{
            border: 0;
            border-left: 1px solid black;
            width: 7%;
            background-color: white;
        }
        .chatBtn{
            border: 0;
            border-left: 1px solid black;
            width: 7%;
            background-color: white;
        }
        .sttLoading {
            position: absolute;
            top: 50%;
            left: 0.3%;
            transform: translateY(-50%);
            z-index: 1000;
        }
    }
    .warningContainer {
        margin: 0 65% 0 10%;
        display: flex;
        align-items: center;
        background-color: #ffcccc;
        border: 0.8px solid red;
        border-radius: 5px;
        padding: 7px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .warningText {
        margin-left: 10px;
        color: red;
    }
    .warningIcon {
        font-size: 24px;
    }
}