.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    .profileDiv{
        width: 70%;
        margin: 10px;
        border: 2px solid black;
        display: flex;
        .profileImg{
            border-radius: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            width: 95px;
        }
        .userInfoDiv{
            font-size: large;
        }
    }
    .myReadActDiv{
        width: 70%;
        .btnsDiv{
            display: flex;
            justify-content: space-between;
            .btn{
                font-size: 20px;
                flex: 1;
                padding: 10px;
                border: none;
                /* border-bottom: 2px solid black; */
                border-left: 1px solid black;
                background: none;
                text-align: center;
            }
            .btn:first-child{
                border-left: none;
            }
            .btn:last-child{
                border-right: none;
            }
            .btn.active{
                background-color: #cccccc;
            }
        }
        .readActDiv{
            width: 100%;
            border: none;
        }
    }
}