.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    .infoDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        .info{
            font-size: large;
        }
    }

    .developerDiv{
        .title{
            
        }
    }
}